.mainPage{
    display: grid;
    grid-template-columns: 1fr repeat(6,minmax(min-content,16.67rem)) 1fr;
    grid-template-rows: 20% 80%;

    .mainPage_headerContainer{
        display: flex;
        // overflow-x: hidden;
        .mainPage_headerContainer_imageContents{
            display: flex;
        }
        .mainPage_headerContainer_imageDots{
            display: flex;
        }
    }
}