*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .outerShell {
    width: 24rem !important;
  }
}
@media screen and (max-width: 400px) {
  .outerShell {
    width: 20rem !important;
  }
}
@media screen and (max-width: 660px) {
  .mainPage_mainBodyContainer_fanclubContainer {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1rem)) !important;
    justify-content: center;
  }
  .categories_card_container {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1rem)) !important;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .Right_button {
    display: none !important;
  }
  .Left_button {
    display: none !important;
  }
}
.html {
  font-size: 62.5%;
}

.mainPage {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: 25vh minmax(75vh, min-content);
}
.mainPage .mainPage_headerContainer {
  grid-column: container-start/container-end;
  background-color: aqua;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.mainPage .mainPage_headerContainer .outerShell {
  width: calc(24rem + 32%);
  overflow-x: hidden;
  height: -moz-min-content;
  height: min-content;
  position: relative;
  display: flex;
  justify-content: center;
}
.mainPage .mainPage_headerContainer .outerShell .mainPage_headerContainer_imageContents {
  display: flex;
  justify-content: center;
  width: -moz-min-content;
  width: min-content;
  height: 80%;
  padding: 8px;
  transition: all 0.3s ease-out;
}
.mainPage .mainPage_headerContainer .outerShell .mainPage_headerContainer_imageContents .topics_images_container {
  height: 100px;
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.4rem;
}
.mainPage .mainPage_headerContainer .outerShell .Left_button {
  position: absolute;
  cursor: pointer;
  display: flex;
  width: 3rem;
  height: 100%;
  align-items: center;
  font-size: xx-large;
  left: 0;
}
.mainPage .mainPage_headerContainer .outerShell .Right_button {
  position: absolute;
  cursor: pointer;
  display: flex;
  width: 3rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  right: 0;
}
.mainPage .mainPage_headerContainer .mainPage_headerContainer_imageDots {
  position: absolute;
  bottom: 5%;
  display: flex;
  width: 30%;
  justify-content: center;
}
.mainPage .mainPage_headerContainer .mainPage_headerContainer_imageDots .mainPage_headerContainer_imageDots_dots {
  height: 10px;
  width: 10px;
  border: 0.1rem black solid;
  border-radius: 5px;
  margin-left: 10px;
}
.mainPage .mainPage_headerContainer .mainPage_headerContainer_imageDots .currentDot {
  background-color: black;
}
.mainPage_mainBodyContainer {
  grid-column: center-start/center-end;
  padding-top: 3rem;
}
.mainPage_mainBodyContainer_fanclubContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 20rem));
  grid-auto-rows: min-content;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.mainPage_mainBodyContainer_fanclubContainer_button {
  position: absolute;
  top: -2rem;
  right: 3%;
}
.mainPage_mainBodyContainer_fanclubContainer .fanclub_header {
  position: absolute;
  top: -3.2rem;
  left: calc(2% + 0.8rem);
}
.mainPage_mainBodyContainer_fanclubContainer .fanclub_header::first-letter {
  color: red;
}
.mainPage_mainBodyContainer_fanclubContainer .fanclub_header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.1rem;
  width: 55vw;
  background-color: black;
}
.mainPage_mainBodyContainer_fanclubContainer .fanclub_card {
  height: 10rem;
  width: 14rem;
  border-right: 0.1rem beige solid;
  border-bottom: 0.1rem beige solid;
  display: grid;
  grid-template-rows: 50% 50%;
}
.mainPage_mainBodyContainer_fanclubContainer .fanclub_card div:first-child {
  width: 100%;
  background-size: cover;
}
.mainPage_mainBodyContainer_fanclubContainer .fanclub_card .details_container {
  display: grid;
  grid-template-rows: 30% 70%;
}
.mainPage_mainBodyContainer_fanclubContainer .fanclub_card .details_container_tag_name {
  display: flex;
  justify-content: space-between;
}
.mainPage_mainBodyContainer_categories {
  padding-top: 2rem;
}
.mainPage_mainBodyContainer_categories h2 {
  padding-left: calc(2% + 0.8rem);
}
.mainPage_mainBodyContainer_categoriesContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 3rem;
  align-items: center;
}
.mainPage_mainBodyContainer_categoriesContainer .categories_card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 20rem));
  grid-auto-rows: min-content;
  justify-items: center;
  align-items: center;
  gap: 10px 1rem;
  padding: 1rem 0 2rem;
  position: relative;
}
.mainPage_mainBodyContainer_categoriesContainer .categories_card_container_button {
  position: absolute;
  top: -2rem;
  right: 3%;
}
.mainPage_mainBodyContainer_categoriesContainer .categories_card_container .categories_first_unit {
  position: relative;
}
.mainPage_mainBodyContainer_categoriesContainer .categories_card_container .categories_specific_names {
  position: absolute;
  left: 0%;
  top: -24%;
}
.mainPage_mainBodyContainer_categoriesContainer .categories_card_container .cats_card {
  height: 10rem;
  width: 14rem;
  border-right: 0.1rem beige solid;
  border-bottom: 0.1rem beige solid;
  display: grid;
  grid-template-rows: 50% 50%;
}
.mainPage_mainBodyContainer_categoriesContainer .categories_card_container .cats_card div:first-child {
  width: 100%;
  background-size: cover;
}
.mainPage_mainBodyContainer_categoriesContainer .categories_card_container .cats_card .details_container {
  display: grid;
  grid-template-rows: 30% 70%;
}
.mainPage_mainBodyContainer_categoriesContainer .categories_card_container .cats_card .details_container_tag_name {
  display: flex;
  justify-content: space-between;
}